body {
  font-family: 'Roboto', sans-serif;
}

.jsonforms-additionalproperties_content {
  border-style: solid;
  border-width: thin;
  border-radius: 3px;
  border-color: lightgrey;
}

.jsf-additionalproperties-master .selected {
  font-weight: bold;
}

.jsf-additionalproperties-master > li {
  cursor: pointer;
}
